@model List<User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section UserIndexCss{
    <link href="~/admin/Custom/UserIndex.css" rel="stylesheet" />
    <link href="~/admin/Custom/Search.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<div class="container mt-3 mb-4">
    <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="row">
            <div class="col-md-12">
                <div id="inputSearch" class="col-md-6">
                    <div class="input-group rounded">
                        <input id="myInput" type="text" onkeyup="myFunction()" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    </div>
                </div>
                <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
                    <table id="myTable" class="table manage-candidates-top mb-0">
                        <thead>
                            <tr>
                                <th id="UserHood">Kullanıcılar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderBy(x=> x.UserName))
                            {
                                <tr id="myList" class="candidates-list">
                                    <td class="title">
                                        <div class="thumb">
                                            <img class="img-fluid" src="@item.ProfileImagePath" alt="">
                                        </div>
                                        <div class="candidate-list-details">
                                            <div class="candidate-list-info">
                                                <div class="candidate-list-title">
                                                    <h4 id="UserName" class="mb-0">
                                                        @if (item.UserName == User.Claims.FirstOrDefault(x => x.Type.EndsWith("UserName")).Value)
                                                        {
                                                            <a>
                                                                @item.UserName
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a asp-controller="User" asp-action="UserPage" asp-area="Admin" asp-route-id="@item.ID">
                                                                @item.UserName
                                                            </a>
                                                        }
                                                    </h4>
                                                </div>
                                                <div class="candidate-list-option">
                                                    <ul id="UserContent" class="list-unstyled">
                                                        <li><i class="fas fa-user pr-1"></i>@item.Name</li>
                                                        <li><i class="fas fa-mail-bulk pr-1"></i>@item.Email</li>
                                                        <li><i class="fas fa-picture-o"></i> Resim (@item.Images.Count)</li>
                                                        <li><i class="fas fa-wrench"></i>@item.Status</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    @if (item.UserName != User.Claims.FirstOrDefault(x => x.Type.EndsWith("UserName")).Value)
                                    {
                                        <td class="candidate-list-favourite-time text-center">
                                            @if (item.Status == Status.Active)
                                            {
                                                <ul class="list-unstyled mb-0 d-flex justify-content-end">
                                                    <li>
                                                        <a class="text-danger" asp-area="Admin" asp-controller="User" asp-action="GetPassiveUser" asp-route-id="@item.ID">
                                                            Askıya Al
                                                        </a>
                                                    </li>
                                                </ul>
                                            }
                                            else
                                            {
                                                <ul class="list-unstyled mb-0 d-flex justify-content-end">
                                                    <li>
                                                        <a class="text-primary" asp-area="Admin" asp-controller="User" asp-action="GetActiveUser" asp-route-id="@item.ID">
                                                            Etkinleştir
                                                        </a>
                                                    </li>
                                                </ul>

                                            }
                                        </td>
                                        <td>
                                            <ul class="list-unstyled mb-0 d-flex justify-content-end">
                                                <li><a asp-area="Admin" asp-controller="User" asp-action="UserDelete" asp-route-id="@item.ID" class="text-danger" data-toggle="tooltip" title="" data-original-title="Delete"><i class="far fa-trash-alt"></i></a></li>
                                            </ul>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;

        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

