@model PasswordVM

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ChangePasswordCss {
    <link href="~/Custom/ChangePassword.css" rel="stylesheet" />
}
<div class="content">
    <div class="row" id="divmain">
        <div id="divbutton">
            <ul>
                <li class="disabled">
                    <a asp-controller="User" asp-action="Edit" asp-area="" asp-route-id="@User.Claims.FirstOrDefault(c => c.Type.EndsWith("ID")).Value">
                        Profil Düzenle
                    </a>
                </li>
                <li class="active">
                    <a>
                        Şifre Değiştir
                    </a>
                </li>
                <li class="disabled">
                    <a asp-controller="User" asp-action="ConfirmDelete" asp-area="">
                        Hesabımı Sil
                    </a>
                </li>
            </ul>
        </div>
        <div id="divcontent">

            @if (TempData["Success"] != null)
            {
                <div id="alert" class="alert alert-success">@TempData["Success"]</div>
            }

            @if (TempData["Error"] != null)
            {
                <div  id="alert" class="alert alert-danger">@TempData["Error"]</div>
            }

            <div id="divimg">
                <div class="item d-flex align-items-center">
                    <div class="image">
                        <img src="@User.Claims.FirstOrDefault(c => c.Type.EndsWith("Image")).Value" alt="..." class="rounded-circle" width="70" height="70">
                    </div>
                    <div class="text">
                        <h3 class="h3">@User.Claims.FirstOrDefault(c => c.Type.EndsWith("UserName")).Value</h3>
                    </div>
                </div>
            </div>

            <hr />
            <form asp-controller="User" asp-action="ChangePassword" method="post" class="form-horizontal">

                <input type="hidden" asp-for="UserId" value="@User.Claims.FirstOrDefault(c => c.Type.EndsWith("ID")).Value" />

                <div class="form-group">
                    <label for="OldPassword">Eski Şifre</label>
                    <input type="text" asp-for="OldPassword" class="form-control" required />
                </div>

                <div class="form-group">
                    <label for="NewPassword">Yeni Şifre</label>
                    <input type="text" asp-for="NewPassword" class="form-control" required />
                </div>

                <div class="form-group">
                    <label for="ConfirmPassword">Şifre Tekrarı</label>
                    <input type="text" asp-for="ConfirmPassword" class="form-control" required />
                </div>

                <div id="inputbutton" class="form-group">
                    <input type="submit" value="Güncelle" class="form-control btn btn-primary col-md-3" />
                </div>
            </form>
        </div>
    </div>
</div>

