@model Tuple<User, int, int>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section UserIndexCss {
    <link href="~/Custom/UserIndex.css" rel="stylesheet" />
    <script type="text/javascript" src="~/js/UserIndex.js"></script>
}

<div id="divmain" class="content">
    <div id="headerdiv" class="row">
        <div id="divprofile" class="col-md-3">
            <img src="@Model.Item1.ProfileImagePath" alt="" width="150" height="150" class="rounded-circle">
        </div>
        <div id="listdiv" class="col-md-6">
            <ul id="list1" class="list-inline">
                <li class="list-inline-item"><h2>@Model.Item1.UserName</h2></li>
                @if (Model.Item1.ID == int.Parse(User.Claims.FirstOrDefault(x => x.Type.EndsWith("ID")).Value))
                {
                    <li class="list-inline-item"><a class="btn btn-light" asp-controller="User" asp-action="Edit" asp-route-id="@Model.Item1.ID">Profili Düzenle</a></li>
                    <li class="list-inline-item"><a class="btn btn-light" asp-controller="Image" asp-action="MyPost" asp-route-id="@Model.Item1.ID">Resim Ekle</a></li>
                }
                else
                {
                    @if (TempData["Kontrol"] != null)
                    {
                        <li class="list-inline-item"><a class="btn btn-danger" asp-controller="Following" asp-action="UnFollow" asp-route-id="@Model.Item1.ID">Takipten Çık</a></li>
                    }
                    else
                    {
                        <li class="list-inline-item"><a class="btn btn-primary" asp-controller="Following" asp-action="Follow" asp-route-id="@Model.Item1.ID">Takip Et</a></li>
                    }
                }
            </ul>
            <ul id="list2" class="list-inline">
                <li class="list-inline-item">@Model.Item1.Images.Count Gönderi</li>
                <li class="list-inline-item"><a asp-controller="Following" asp-action="Followed" asp-route-id="@Model.Item1.ID">@Model.Item2 Takipçi</a></li>
                <li class="list-inline-item"><a a asp-controller="Following" asp-action="Follower" asp-route-id="@Model.Item1.ID">@Model.Item3 Takip</a></li>
            </ul>
            <ul id="list3" class="list-unstyled">
                <li><h3>@Model.Item1.Name</h3></li>
                <li><a href="https://@Model.Item1.Url">@Model.Item1.Url</a></li>
                <li>@Model.Item1.Biography</li>
            </ul>
        </div>
    </div>
    <hr />
    @if (Model.Item1.ID == int.Parse(User.Claims.FirstOrDefault(x => x.Type.EndsWith("ID")).Value))
    {
        <div class="row" id="navdiv">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item col-md-6" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Gönderi</a>
                </li>
                <li class="nav-item col-md-6" role="presentation">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Arşiv</a>
                </li>
            </ul>
        </div>
    }
    <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">

                @foreach (var img in Model.Item1.Images.OrderByDescending(x => x.CreatedDate))
                {
                    @if (img.Status == Status.Active)
                    {
                        <div class="col-md-4" id="imgdiv">
                            <a asp-controller="Image" asp-action="OneImg" asp-route-id="@img.ID">
                                <img src="@img.ImagePath" alt="" width="350" height="350">
                            </a>
                        </div>
                    }
                }

            </div>

        </div>
        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">

                @foreach (var img in Model.Item1.Images.OrderByDescending(x => x.CreatedDate))
                {
                    @if (img.Status == Status.Passive)
                    {
                        <div class="col-md-4" id="imgdiv">
                            <a asp-controller="Image" asp-action="OneImg" asp-route-id="@img.ID">
                                <img src="@img.ImagePath" alt="" width="350" height="350">
                            </a>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>



